{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="row m-0 my-5"></div>
<div class="row m-0 p-0">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 align-middle">
        {% element h1 %}
            {% trans "Password Reset" %}
        {% endelement %}
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% element p %}
            {% blocktrans %}An email has been sent. Please check your spam folder if you do not see it. Contact us if it does not arrive shortly.{% endblocktrans %}
        {% endelement %}
    </div>
    <div class="col-sm-4">
    </div>
</div>
{% endblock content %}
