{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load crispy_forms_filters %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="row m-0 my-5"></div>
<div class="row m-0 p-0">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 align-middle">
        {% element h1 %}
            {% trans "Password Reset" %}
        {% endelement %}
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% element p %}
            {% trans "Forgot your password? Enter your email to get a reset link." %}
        {% endelement %}
        {% url 'account_reset_password' as reset_url %}
        <form action="{{reset_url}}" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-grid">
                <button type="submit" class="btn">{% trans 'Reset My Password' %}</button>
            </div>
        </form>
        {% element p %}
            {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
        {% endelement %}
    </div>
    <div class="col-sm-4">
    </div>
</div>
{% endblock content %}
