{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="row m-0 my-5"></div>
<div class="row m-0 p-0">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 align-middle">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
    </div>
    <div class="col-sm-4">
    </div>
</div>
{% endblock content %}
